main > ul > li {
    margin-top: 40px;
    /* border: solid yellow; */
}

main > ul > li > ul > li {
    margin-top: 20px;
    /* border: dotted green; */
}

main > ul > li > ul > li:last-child {
    margin-top: 5px;
}