body {
    background-color: white
}

header {
    text-align: center;
    margin-bottom: 50px;
}

div {
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

table {
    border-style: solid;
    border-color: brown;
}

th {
    border-style: solid;
    border-color: green;
}

tr {
    border-style: solid;
    border-color: blue;
}